body
		{
			background-color:#F5F5F5;
        } 
        .msg, .msg1
        {
            padding: 10px;
            padding-left: 35px;
        }
        
        .msg1.error
        {
            border: 2px solid #FFAEAE;
            background-color: #FEEBEB;
            height: 23px;
            width: 430px;
			  margin-left:10px;
             margin-right:10px;
        }
        .msg1.info
        {
            border: 2px solid #B8E2FB;
            background-color: #E8F6FF;
            height: 23px;
            width: 430px;
			margin-left:10px;
             margin-right:10px;
        }
		.msg1.done
        {
            border: 2px solid #BBDF8D;
            background-color: #EAF7D9;
            height: 23px;
            width: 430px;
			margin-left:10px;
             margin-right:10px;
        }
        #login-container
        {
            width: 500px;
            margin: 100px auto;
            background-color: #FFF;
        }
        #logo
        {
            padding: 20px 150px 20px 150px;
        }
        #form label
        {
            float: left;
            font-weight: bold;
            margin-left: 25px;
        }
        #form input
        {
            float: right;
            width: 320px;
            margin-right: 60px;
        } 
		#form1 label
        {
            float: left;
            font-weight: bold;
            margin-left: 25px;
        }
        #form1 input
        {
            float: right;
             margin-right: 60px;
            width: 340px;
        }
        #form2 a
        {
            line-height:normal;
            margin-left:90px;
       }
        #form2 input.chkbox
        {
            float: left;
            font-weight: bold;
            margin-left: 118px;
        }
        #form3 input.submit
        {
            float: right;
            margin-right: 60px;
        }
		.img1
        {
            float:left;
            margin:4px 7px 4px 0px;
        }
        .lbl1
        { 
            padding: 4px 0px;
            margin:4px 0px;
        }